.center {
  text-align: center;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}
.album-art {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #fff inset;
}

.album-playing {
  animation: rotation 6s infinite linear;
}

.playback-main.float-container {
  border: 3px solid black;
  display: inline-flex;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.float-child {
  /* width: 40%;  */
  height: 400px;
  display: "flex";
  flex: 1;
  border: 1px solid green;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}