.center {
  text-align: center;
}

.now-playing,
.own-queue {
  padding: 1em;
} 

.playback-main.float-container {
  border: 3px solid black;
  display: inline-flex;
  width: 90%;
  margin: 1em;
  padding: 20px;
  margin-bottom: 20px;
  min-width: 1070px;
}

/* App Controls */
.app-controls {
  padding: 0.5em;
  background-color: rgb(2, 49, 25);
}

/* Progress Bar */
.track-progress {
  align-items: center;
  display: flex;
  margin: 3px;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.progress {
  width: 100%;
  align-items: center;
  margin: 3px;
  display: flex;
  justify-content: space-around;
  padding: 0 25px;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

/* Now Playing */
.album-art {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #fff inset;
}

.album-playing {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Queue */
.queue-list {
  display: flex;  
  /* padding: 4px;   */
  background-color: #08c708;  
  width: 500px;
  margin: 0.5em;  
  overflow: auto;  
}

.float-child {
  height: 400px;
  display: "flex";
  flex: 1;
  border: 1px solid green;
}

/* Search */
.search-track {
  border: 3px solid black;
  width: 90%;
  margin: 1em;
  padding: 20px;
  min-width: 1070px;
}